.Form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 1rem auto auto auto;
  font-size: 2rem;
}

.Form h2 {
  font-size: 4rem;
  margin-right: auto;
  margin-bottom: 2rem;
  padding: 1rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}

.sendBtn {
  color: white;
  border: none;
  padding: 1rem 15rem;
  background-color: #22ad22;
  font-size: 2.2rem;
  border-radius: .5rem;
  margin-top: 2rem;
}

.sendBtn:focus {
  outline:none;
}