.wsjo {
  display: flex;
  flex-direction: column;
  font-size: 2.4rem;
  padding: 2rem;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin: 2rem;
  text-align: center;
}

.eduLevel {
  margin-bottom: 2rem;
  text-align: center;
}

.title {
  font-size: 3rem;
}

.icon {
  font-size: 5rem;
  margin: 1rem;
  margin-right: 2.2rem;
}