.TestClass {
  width: 100%;
  height: 100%;
}

.testOne {
  width: 200px;
  height: 200px;
  background-color: blue;
  margin: 5rem;
}

.testTwo {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: 5rem;
}

.addListener {
  font-size: 2rem;
  margin: 1rem 5rem;
}

.removeListener {
  font-size: 2rem;
  margin: 1rem 5rem;
}