.header {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: black;
  z-index: 10;
}

.animDiv {
  position: absolute;
  background: linear-gradient(to left, black,  #007bff);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: headerAnimation 2s forwards;
  z-index: 10;  
}

.linkWrapper {
  display: flex;
  margin: auto;
}

.link {
  flex: 1;
  font-size: 5rem;
  text-decoration: none;
  color: white;
  margin: 5rem;
}

.link:hover {
  text-decoration: none;
  color: white;
}

@keyframes headerAnimation {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.profile {
  /* animation: profileAnimation 2s forwards; */
}

.profileLetter {
  /* animation: profileLetterAnimation 2s forwards; */
}

@keyframes profileAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.profileP {
  animation: profileLetter .2s forwards;
}

.profileR {
  animation: profileLetter .5s forwards;
}

.profileO {
  animation: profileLetter 1s forwards;
}

.profileF {
  animation: profileLetter 1.2s forwards;
}

.profileI {
  animation: profileLetter 1.5s forwards;
}

.profileL {
  animation: profileLetter 1.7s forwards;
}

.profileE {
  animation: profileLetter 2s forwards;
}

@keyframes profileLetter {
  0% {
    opacity: 0;
    margin: -20rem;
    font-size: 2rem;
  }
  50% {
    font-size: 7rem;
    opacity: 1;
    margin: 0rem;
  }

  100% {
    opacity: 1;
    font-size: 7rem;
    margin: 1rem;
  }
}