/* INFO */
.info {
  color: black;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.493);
  border-radius: 1rem;
  /* opacity: .5; */
  transition: all .2s;

}

.info:hover {
  /* opacity: 1; */
}

.infoTitle {
  font-size: 3rem;
  align-self: center;
  margin-bottom: 1.5rem;
}


/* PROJECTS */
.projects {
  color: black;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.493);
  border-radius: 1rem;
  opacity: .5;
  transition: all .2s;

}

.projects:hover {
  opacity: 1;
}

.projectsTitle {
  font-size: 3rem;
  align-self: center;
  margin-bottom: 1.5rem;
}

/* CONTACT */

.contact {
  color: black;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding:  4rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.493);
  border-radius: 1rem;
  transition: all .2s;
  opacity: .5;

}

.contact:hover {
  opacity: 1;
}

.contactTitle {
  font-size: 4rem;
  align-self: center;
  margin-bottom: 1.5rem;
}
